Code/node_RED_configuration.json
[
    {
        "id": "bd392b5c1c06028d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "11b36865546e79b2",
        "type": "comment",
        "z": "bd392b5c1c06028d",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "e9db83bf6f481811",
        "type": "mqtt in",
        "z": "bd392b5c1c06028d",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5701505f8608ca57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 620,
        "wires": [
            [
                "97a963f262f576e9"
            ]
        ]
    },
    {
        "id": "97a963f262f576e9",
        "type": "switch",
        "z": "bd392b5c1c06028d",
        "name": "",
        "property": "topic",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "STDS/2/Niveau",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STDS/2/Puissance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STDS/2/Température/T1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STDS/2/Tempétature/T2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STDS/2/Diag",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STDS/2/CO2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "44a2c7384118937b"
            ],
            [
                "a6af3efe39cdb5c1"
            ],
            [
                "89d5d5593ba349e5"
            ],
            [
                "140dc0be94617104"
            ],
            [
                "ef6b6e4e4672e5a8"
            ],
            [
                "831426626ddd9651"
            ]
        ]
    },
    {
        "id": "44a2c7384118937b",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "Niveau",
        "query": "insert into Niveau (dateInsertion, data)\nvalues (current_timestamp, {{{msg.payload}}})",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 800,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a6af3efe39cdb5c1",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "Puissance",
        "query": "insert into Puissance (dateInsertion, data)\nvalues (current_timestamp, {{{msg.payload}}})",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 830,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "89d5d5593ba349e5",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "Température T1",
        "query": "insert into TemperatureT1 (dateInsertion, data)\nvalues (current_timestamp, {{{msg.payload}}})",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 880,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "140dc0be94617104",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "Température T2",
        "query": "insert into TemperatureT2 (dateInsertion, data)\nvalues (current_timestamp, {{{msg.payload}}})",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 840,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ef6b6e4e4672e5a8",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "Diag",
        "query": "insert into Diag (dateInsertion, data)\nvalues (current_timestamp, '{{{msg.payload}}}')",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "831426626ddd9651",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "CO2",
        "query": "insert into CO2 (dateInsertion, data)\nvalues (current_timestamp, {{{msg.payload}}})",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 830,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "78a9d0e2fb0eb2a9",
        "type": "postgresql",
        "z": "bd392b5c1c06028d",
        "name": "Suppression et création des tables",
        "query": "drop table if exists TemperatureT1;\ndrop table if exists TemperatureT2;\ndrop table if exists Niveau;\ndrop table if exists CO2;\ndrop table if exists Diag;\ndrop table if exists Puissance;\n\ncreate table TemperatureT1\n(\n    id serial primary key,\n    dateInsertion timestamp,\n    data float\n);\n\ncreate table TemperatureT2\n(\n    id serial primary key,\n    dateInsertion timestamp,\n    data float\n);\n\ncreate table Niveau\n(\n    id serial primary key,\n    dateInsertion timestamp,\n    data int\n);\n\ncreate table CO2\n(\n    id serial primary key,\n    dateInsertion timestamp,\n    data float\n);\n\ncreate table Diag\n(\n    id serial primary key,\n    dateInsertion timestamp,\n    data text\n);\n\ncreate table Puissance\n(\n    id serial primary key,\n    dateInsertion timestamp,\n    data float\n)",
        "postgreSQLConfig": "83f94beede4857be",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1c9515ca5e3ed9bd",
        "type": "inject",
        "z": "bd392b5c1c06028d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "78a9d0e2fb0eb2a9"
            ]
        ]
    },
    {
        "id": "5701505f8608ca57",
        "type": "mqtt-broker",
        "name": "connexion",
        "broker": "iot.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83f94beede4857be",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "timescaledb",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "timescale",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    }
]
